@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/account.css">
    <title>Hệ Thống</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="registerForm">
                <h1>Đăng ký tài khoản</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>hoặc</span>
                <input type="text" id="regUsername" name="username" placeholder="Tên đăng nhập" required>
                <input type="password" id="regPassword" name="password" placeholder="Mật khẩu" required>
                <input type="password" id="regConfirmPassword" placeholder="Nhập lại mật khẩu" required>
                <button type="submit">Đăng ký</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form id="loginForm">
                <h1>Đăng nhập</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>hoặc</span>
                <input type="text" id="login-username" name="username" placeholder="Tên đăng nhập" required>
                <input type="password" id="login-password" name="password" placeholder="Mật khẩu" required>
                <button type="submit" id="btn-login">Đăng nhập</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Chào mừng bạn quay lại!</h1>
                    <p>Vui lòng đăng nhập để tiếp tục sử dụng đầy đủ các tính năng của trang web</p>
                    <button class="hidden" id="login">Đăng nhập</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Xin chào!</h1>
                    <p>Hãy tạo tài khoản để bắt đầu trải nghiệm tất cả tính năng của trang web</p>
                    <button class="hidden" id="register">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/account.js"></script>
    <script src="/js/accountLogic.js"></script>
    <script src="/js/infoCheck.js"></script>
</body>

</html>
